html body { background-color: #292929; }

.imj_siteWrapper { min-height: 100% !important; background-color: #313131; margin: 0 auto; width: 100%; max-width: 90%; }

@media screen and (max-width: 90em) { .imj_siteWrapper { max-width: 100% !important; } }
