<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <!-- Servlets -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- Mappings -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/jsf/*</url-pattern>
    </servlet-mapping>
     <context-param>
        <param-name>com.ocpsoft.pretty.BASE_PACKAGES</param-name>
        <param-value>de.mpg.imeji</param-value>
    </context-param>
    <!-- JSF Parameters --> 
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <context-param>
	    <param-name>com.sun.faces.defaultResourceMaxAge</param-name>
	    <param-value>2592000000</param-value> <!-- 30 days -->  
	</context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/navigation.xml,/WEB-INF/managed-beans.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
        <param-value>-1</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
        <param-value>500000</param-value>
    </context-param>
     <context-param>
        <param-name>javax.faces.SERIALIZE_SERVER_STATE</param-name>
        <param-value>false</param-value>
    </context-param> 
    <context-param>
        <param-name>org.apache.myfaces.SERIALIZE_STATE_IN_SESSION</param-name>
        <param-value>false</param-value>
    </context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>false</param-value>
	</context-param>
    <!-- Mojarra specific parameters -->
     <context-param>
        <param-name>com.sun.faces.numberOfViewsInSession</param-name>
        <param-value>1</param-value>
    </context-param>
 	 <context-param>
        <param-name>com.sun.faces.compressViewState</param-name>
        <param-value>true</param-value>
    </context-param>
    <session-config>
        <session-timeout>180</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>StartPage.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/jsf/errorPages/404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/jsf/errorPages/403.xhtml</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/jsf/errorPages/401.xhtml</location>
    </error-page>
    <error-page>
        <error-code>422</error-code>
        <location>/jsf/errorPages/422.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/jsf/errorPages/500.xhtml</location>
    </error-page>
      
    <listener>
        <listener-class>de.mpg.imeji.presentation.session.SetActiveViewMapsSizeSessionListener</listener-class>
    </listener>
</web-app>
